*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #AE7C78;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

/*nav-menu*/
.header__top {
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
  margin-top: 26px;
  margin-bottom: 81px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 10px 0;
}

/*header-content*/
.header__content {
  display: grid;
  grid-template-columns: 1fr 793px;
  margin-bottom: 48px;
}

.header__pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 58px;
  column-gap: 20px;
}

.header__buket1 {
  grid-row: 2/3;
  max-width: 386px;
  max-height: 404px;
  border-radius: 10px;
}
.header__buket2 {
  grid-row: 1/3;
  max-width: 387px;
  max-height: 420px;
  border-radius: 10px;
}

.header__text {
  margin-right: 23px;
}

.header__title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  margin-bottom: 24px;
}

.italic__text {
  font-style: italic;
}

.header__descr {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 64px;
}

.header__btn {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 30px 70px;
  background-color: #D89999;
  border-radius: 40px;
}

/*advantages*/
.advantages {
  margin-bottom: 80px;
}

.advantages__items {
  display: flex;
  justify-content: space-around;
  column-gap: 43px;
  list-style: none;
}
.advantages__items li:nth-child(1) {
  background: url("../img/fast-delievery.svg") no-repeat left center;
  padding-left: 120px;
  max-width: 379px;
}
.advantages__items li:nth-child(2) {
  background: url("../img/fresh-bouquet.svg") no-repeat left center;
  padding-left: 64px;
  max-width: 347px;
}
.advantages__items li:nth-child(3) {
  background: url("../img/send-photo.svg") no-repeat left center;
  padding-left: 79px;
  max-width: 343px;
}

.adv__items-title {
  font-weight: 500;
  margin-bottom: 8px;
}

/*popular*/
.popular {
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.popular__title {
  text-align: center;
  letter-spacing: 2%;
  margin-bottom: 36px;
}

.popular__content {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.popular__descr-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 20px;
}

.popular__descr-text,
.popular__descr-size {
  margin-bottom: 24px;
}

.popular__descr-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.26px;
  margin-bottom: 64px;
}

.popular__descr-btn {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 30px 106px;
  background-color: #D89999;
  border-radius: 40px;
}

.popular__photo {
  max-width: 387px;
  margin-bottom: 24px;
}

.arrows {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.bouquet__selection {
  margin-bottom: 80px;
}
.bouquet__selection-items {
  display: flex;
  justify-content: space-around;
  gap: 19px;
}

/*discount-section*/
.discount {
  margin-bottom: 80px;
}

.discount__content {
  background-color: #AE7C78;
  display: flex;
}

.discount__descr {
  color: #FFFFFF;
}

.discount__descr-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
  padding-top: 20px;
  padding-right: 121px;
  padding-left: 102px;
  margin-bottom: 24px;
}

.discount__descr-text {
  font-size: 24px;
  line-height: 29px;
  padding-right: 121px;
  padding-left: 102px;
  margin-bottom: 40px;
}

.discount__photo {
  max-width: 590px;
  height: 391px;
}

/*ideal-bouquet*/
.ideal {
  margin-bottom: 80px;  
}

.ideal__title {
  text-align: center;
  margin-bottom: 36px;
}

.ideal__items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ideal__item {
  max-width: 285px;
  text-align: center;
  list-style: none;
}

.ideal__items li:nth-child(1) {
  background: url("../img/order.svg") no-repeat top center;
  padding-top: 60px;
}

.ideal__items li:nth-child(2) {
  background: url("../img/details.svg") no-repeat top center;
  padding-top: 60px;
}

.ideal__items li:nth-child(3) {
  background: url("../img/payment.svg") no-repeat top center;
  padding-top: 60px;
}

.ideal__items li:nth-child(4) {
  background: url("../img/delievery.svg") no-repeat top center;
  padding-top: 60px;
}

.ideal__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  margin-bottom: 8px;
}

/*News*/
.news {
  margin-bottom: 80px;
}

.news__content {
  display: grid;
  grid-template-columns: 488px 1fr;
  gap: 20px;
}

.news__descr {
  padding-top: 70px;
  padding-bottom: 107px;
}

.news__title {
  margin-bottom: 40px;
}

.news__text {
  max-width: 387px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.news__link {
  display: flex;
  gap: 20px;
}

.news__pic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 220px;
  gap: 20px;
}

.news__pic1 {
  grid-row: 1/1;
  max-width: 285px;
  max-height: 220px;
}

.news__pic2 {
  grid-row: 2/2;
  max-width: 285px;
  max-height: 220px;
}

.news__pic3 {
  grid-row: 1/2;
  max-width: 387px;
  max-height: 460px;
}

/*reviews*/
.reviews {
  margin-bottom: 80px;
}

.reviews__title {
  padding-top: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.reviews__content {
  display: flex;
  justify-content: space-around;
  gap: 106px;
}

.marina,
.tania,
.olga {
  max-width: 300px;
  text-align: center;
}

.marina h4,
.tania h4,
.olga h4 {
  font-weight: 500;
  padding-bottom: 15px;
}

.reviews .container {
  border: 1px solid #AE7C78;
}

/*contacts*/
.contacts {
  display: grid;
  grid-template-columns: 222px 386px 832px;
  grid-template-rows: 52px 520px 72px;
  text-align: left;
}

.google-map {
  grid-column: 1/5;
  grid-row: 1/5;
  z-index: 1;
}

.contacts__content {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 2;
  background-color: #F7FAFC;
  border-radius: 12px;
}

.contacts__title {
  padding-top: 40px;
  padding-left: 35px;
  margin-bottom: 42px;
}

.contacts__text {
  padding-left: 35px;
  margin-bottom: 20px;
}

/*footer*/
.footer {
  background-color: #AE7C78;
  color: #FFFFFF;
}

.footer__content {
  display: flex;
  align-items: center;
  padding: 20px 0 25px;
}

.footer__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.footer__menu-item {
  margin: 0 34px;
}

.footer__social-media {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer__social-items {
  margin: 0 20px;
}